{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="text-center">Create your account</h1>
    {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
    {{ form_errors(form) }}
    {{ form_end(form) }}
{% endblock %}
