{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <div class="d-flex flex-column justify-content-center align-items-center">
        <img class="mb-5" style="width: 500px; height: 500px;"
             src="{{ asset('build/images/page/checklist.79aefcf7.gif') }}"
             alt="todo list">
        <h1 class="mb-3">
            Welcome to Todolo - Where you track your work.
        </h1>
        <a class="btn btn-primary" href="{{ path('app_todo_index') }}">
            Let's get started
        </a>
    </div>
{% endblock %}
