@import 'app_bootstrap.css';

.navbar-nav .nav-item .nav-link img {
    width: 25px;
    height: 25px;
}

.profile {
    width: 150px;
    height: 150px;
}

div.card.user {
    background-color: #0c4a6e;
}

div.card.todo {
    background-color: #0d5e42;
}
